{% set textPart %}
    <div class="{{ entry.alignment }}">
        {% for heading in entry.heading.all() %}
            {% if heading.subTitle%}
                <div class="{{ heading.alignment }}">
                    <p class="h4 color mb-2 fw-normal">{{ heading.subTitle }}</p>
                </div>
            {% endif %}
            <{{ heading.headingTag }} class="display-5 {{ heading.alignment }}">{{ heading.title }}</{{ heading.headingTag }}>
        {% endfor %}

        <div class="op-09 fw-light mb-5">
            {{ entry.richTextDefault }}
        </div>

        {% for button in entry.buttons.all() %}
            <a 
                href="{{ button.linkField}}" 
                class="button button-dark bg-dark bg-opacity-10 text-dark h-bg-color m-0 px-4 py-2"
            >
                {{ button.linkField.label }}
            </a>
        {% endfor %}
    </div>
{% endset %}

{% set imagePart %}
    {% set image = entry.image.one() %}
    {% if image %}
        <img src="{{ image.getUrl('imageFit_1920x0') }}" alt="{{ image.alt }}" class="animated h-100 img-fluid object-fit-cover">
    {% endif %}
{% endset %}

{% if entry.layoutFeatureSection == 'textRightImageLeft' or entry.layoutFeatureSection == 'textLeftImageRight'
    or entry.layoutFeatureSection == 'textTopImageBottom' or entry.layoutFeatureSection == 'textBottomImageTop' %} 
    {% set backgroundImage = entry.backgroundImage.one() %}
{% endif %}

{% if entry.layoutFeatureSection == 'textRightImageLeft' %} 
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row justify-content-between g-5">
                <div class="col-md-6 order-first">
                    {{ imagePart }}
                </div>
                <div class="col-md-6 order-last">
                    {{ textPart }}
                </div>
            </div>
        </div>
    </div>
{% elseif  entry.layoutFeatureSection == 'textLeftImageRight'%}
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row justify-content-between g-5">
                <div class="col-md-6 order-last order-md-first">
                    {{ textPart }}
                </div>
                <div class="col-md-6 order-first order-md-last">
                    {{ imagePart }}
                </div>
            </div>
        </div>
    </div>
{% elseif  entry.layoutFeatureSection == 'textTopImageBottom'%}
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row justify-content-between g-5">
                <div class="col-md-12 order-last order-md-first">
                    {{ textPart }}
                </div>
                <div class="col-md-12 order-first order-md-last">
                    {{ imagePart }}
                </div>
            </div>
        </div>
    </div>
{% elseif entry.layoutFeatureSection == 'textBottomImageTop'%}
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row justify-content-between g-5">
                <div class="col-md-12 order-first">
                    {{ imagePart }}
                </div>
                <div class="col-md-12 order-last">
                    {{ textPart }}
                </div>
            </div>
        </div>
    </div>

{% elseif entry.layoutFeatureSection == 'textFrontImageBack'%}
    <div class="section parallax scroll-detect m-0 border-0" style="padding: 120px 0; background: {{ entry.backgroundColor }} !important;">
        {% set image = entry.image.one() %}
        {% if image%}
            <div class="bg-overlay-bg" style="background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #323334 150%);">
                <img src="{{ image.getUrl('imageFit_1920x0') }}" class="parallax-bg">
            </div>
        {% endif %}
        <div class="container">
            {{ textPart }}
        </div>
    </div>
{% endif %}