{% set backgroundImage = entry.style.styleBackground.image.one() %}

{% set textPart %}
    <div class="{{ entry.style.styleHeader.alignment }}">
        {% if entry.header.subTitle %}
            <div class="{{ entry.style.styleHeader.alignment }}">
                <div class="badge rounded-pill badge-default">{{ entry.header.subTitle }}</div>
            </div>
        {% endif %}
        <{{ entry.style.styleHeader.tag }} class="fw-bold {{ entry.style.styleHeader.alignment }}">{{ entry.header.mainTitle }}</{{ entry.style.styleHeader.tag }}>

        {{ entry.header.text }}
    </div>
{% endset %}

<div class="section bg-transparent my-0"
    {% if backgroundImage is not empty or entry.style.styleBackground.color is not empty %}
    style="background: 
        {% if backgroundImage is not empty %}
            url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat center center / cover 
        {% endif %}
        {% if entry.style.styleBackground.color %}
            {% if entry.style.styleBackground.opacity %}
               rgba({{ entry.style.styleBackground.color.red }}, {{ entry.style.styleBackground.color.green }}, {{ entry.style.styleBackground.color.blue }}, {{ entry.style.styleBackground.opacity / 100 }})
            {% else %}
                {{entry.style.styleBackground.color}}
            {% endif %}
        {% endif %}
        !important;"
    {% endif %}
>
    <div class="container">        
        <div class="row">
            <div class="col-12">
                {{ textPart }}
            </div>
            
            <div class="col-12">
                {% set features = entry.featuresWithIconTextLink.all() %}
                {% if features|length %}
                    {% if entry.styleFeatureGrid.layoutFeatureGrid == "layout4" %}
                        <div class="row align-items-stretch grid-border">
                    {% else %}
                        <div class="row col-mb-30 mb-0">
                    {% endif %}
                        {% for feature in features %}                                                    
                            {% if entry.styleFeatureGrid.layoutFeatureGrid == "layout4" %}
                                <div class="{% if entry.featureColumns is not empty %}col-md-{{ entry.featureColumns }}{% else %}col-md-12{% endif %} col-padding">
                            {% else %}                                
                                <div class="{% if entry.featureColumns is not empty %}col-md-{{ entry.featureColumns }}{% else %}col-md-12{% endif %} g-5">
                            {% endif %}

                            {% switch entry.styleFeatureGrid.layoutFeatureGrid %}
                                {% case "layout1" %}
                                    <div class="feature-box fbox-plain {% if entry.styleFeatureGrid.alignmentFeatures == "center" %}fbox-center{% endif %}">
                            
                                {% case "layout2" %}
                                    <div class="feature-box fbox-plain {% if entry.styleFeatureGrid.alignmentFeatures == "center" %}fbox-center{% endif %} border p-4 rounded-3">

                                {% case "layout3" %}
                                    <div class="feature-box fbox-plain {% if entry.styleFeatureGrid.alignmentFeatures == "center" %}fbox-center{% endif %} bg-light border border p-4 rounded-3">

                                {% case "layout4" %}
                                    <div class="feature-box fbox-plain {% if entry.styleFeatureGrid.alignmentFeatures == "center" %}fbox-center{% endif %}">                                
                            
                                {% default %}
                                    <div class="feature-box fbox-plain {% if entry.styleFeatureGrid.alignmentFeatures == "center" %}fbox-center{% endif %}">                                
                            
                            {% endswitch %}
                                <div class="fbox-icon bounceIn animated" data-animate="bounceIn">
                                    <i class="fa-solid fa-{{ feature.iconField }}"></i>
                                </div>
                                <div class="fbox-content">
                                    <h3>{{ feature.heading }}</h3>
                                    
                                    {{ feature.text }}

                                    {% if entry.styleLink.showAsButton %}
                                        <a 
                                            href="{{ feature.linkField}}" 
                                            class="button button-rounded button-large text-transform-none ls-0 mt-4"
                                            title="{{ feature.linkField.title }}"
                                            target="{{ feature.linkField.target }}"
                                        >
                                            {{ feature.linkField.label }}
                                        </a>                    
                                    {% else %}
                                        <a 
                                            href="{{ feature.linkField}}" 
                                            class="btn btn-link mt-4"
                                            title="{{ feature.linkField.title }}"
                                            target="{{ feature.linkField.target }}"
                                        >
                                            {{ feature.linkField.label }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
        </div>
    </div>
</div>