{% set textPart %}
    <div class="{{ entry.alignment }}">
        {% for heading in entry.heading.all() %}
            <div class="heading-block border-bottom-0 mb-4">
                {% if heading.subTitle%}
                    <div class="op-07 mb-0 text-uppercase ls-2 text-smaller">{{ heading.subTitle }}</div>
                {% endif %}
                <{{ heading.headingTag }} class=fw-normal "{{ heading.alignment }}">{{ heading.title }}</{{ heading.headingTag }}>                
            </div>       
        {% endfor %}

        {{ entry.richTextDefault }}

        {% for button in entry.buttons.all() %}
            <a 
                href="{{ button.linkField}}" 
                class="button button-border m-0 button-dark border-width-1 border-default h-bg-color"
            >
                {{ button.linkField.label }}
            </a>
        {% endfor %}
    </div>
{% endset %}

{% set imagePart %}
    {% set image = entry.image.one() %}
    {% if image %}
        <img src="{{ image.getUrl('imageFit_1920x0') }}" alt="{{ image.alt }}" class="animated h-100 img-fluid object-fit-cover">
    {% endif %}
{% endset %}

{% if entry.layoutFeatureSection == 'textRightImageLeft' or entry.layoutFeatureSection == 'textLeftImageRight'
    or entry.layoutFeatureSection == 'textTopImageBottom' or entry.layoutFeatureSection == 'textBottomImageTop' %} 
    {% set backgroundImage = entry.backgroundImage.one() %}
{% endif %}

{% if entry.layoutFeatureSection == 'textRightImageLeft' %} 
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 py-0" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 py-0" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container-fluid">
            <div class="row align-items-md-center">
                <div class="col-md-6 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch">
                    {{ imagePart }}
                </div>
                <div class="col-md-6 p-5 p-lg-6">
                    {{ textPart }}
                </div>
            </div>
        </div>
    </div>
{% elseif  entry.layoutFeatureSection == 'textLeftImageRight'%}
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 py-0" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 py-0" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container-fluid">
            <div class="clear"></div>
            <div class="row flex-md-row-reverse align-items-md-center">
                <div class="col-md-6 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch">
                    {{ imagePart }}
                </div>
                <div class="col-md-6 p-5 p-lg-6">
                    {{ textPart }}
                </div>
            </div>
        </div>
    </div>
{% elseif  entry.layoutFeatureSection == 'textTopImageBottom'%}
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 py-0" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 py-0" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container-fluid">
            <div class="clear"></div>
            <div class="row flex-md-row-reverse align-items-md-center">
                <div class="col-md-12 p-5 p-lg-6">
                    {{ textPart }}
                </div>
                <div class="col-md-12 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch">
                    {{ imagePart }}
                </div>
            </div>
        </div>
    </div>
{% elseif entry.layoutFeatureSection == 'textBottomImageTop'%}
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 py-0" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 py-0" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container-fluid">
            <div class="clear"></div>
            <div class="row align-items-md-center">
                <div class="col-md-12 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch">
                    {{ imagePart }}
                </div>
                <div class="col-md-12 p-5 p-lg-6">
                    {{ textPart }}
                </div>
            </div>
        </div>
    </div>

{% elseif entry.layoutFeatureSection == 'textFrontImageBack'%}
    <div class="section parallax scroll-detect m-0 border-0" style="padding: 120px 0; background: {{ entry.backgroundColor }} !important;">
        {% set image = entry.image.one() %}
        {% if image%}
            <div class="bg-overlay-bg" style="background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #323334 150%);">
                <img src="{{ image.getUrl('imageFit_1920x0') }}" class="parallax-bg">
            </div>
        {% endif %}
        <div class="container">
            {{ textPart }}
        </div>
    </div>
{% endif %}