<!DOCTYPE html>
<html dir="ltr" lang="de">
	{% include '_layouts/_general/_canvas/head.twig' %}

	<body class="stretched">

		<!-- Document Wrapper
		============================================= -->
		<div id="wrapper">

			<!-- Header
			============================================= -->
			<header id="header" class="full-header">
				<div id="header-wrap">
					<div class="container">
						<div class="header-row">
							{% include '_layouts/_general/_canvas/logo.twig' %}
							{% include 'themes/'~ design.theme.value ~'/navigationButton.twig' %}
							{% include '_layouts/_general/_canvas/navigation.twig' %}
						</div>
					</div>
				</div>
				<div class="header-wrap-clone"></div>
			</header><!-- #header end -->

			{% if entry.headerBuilder.count() > 0 %}
			<!-- Slider
			============================================= -->
			<section id="slider" class="slider-element slider-parallax swiper_wrapper vh-75">
				<div class="slider-inner">
					<div class="swiper swiper-parent ">
						<div class="swiper-wrapper">
							{% block header %}

							{% endblock %}
						</div>
						<div class="slider-arrow-left"><i class="uil uil-angle-left-b"></i></div>
						<div class="slider-arrow-right"><i class="uil uil-angle-right-b"></i></div>
						<div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
					</div>
				</div>
			</section>			
			<!-- #slider end -->
			{% endif %}

			<!-- Content
			============================================= -->
			<section id="content">
				<div class="content-wrap">
					{% block content %}

					{% endblock %}
				</div>
			</section>
			<!-- #content end -->

			<!-- Footer
			============================================= -->
			{% set footerBackgroundImage = footer.styleBackground.image.one() %}
			<footer id="footer" class="border-0"
				{% if footerBackgroundImage is not empty or footer.styleBackground.color is not empty %}
				style="background: 
					{% if footerBackgroundImage is not empty %}
						url('{{ footerBackgroundImage.getUrl('imageFit_1920x0') }}') no-repeat center center / cover 
					{% endif %}
					{% if footer.styleBackground.color %}
						{% if footer.styleBackground.opacity %}
						rgba({{ footer.styleBackground.color.red }}, {{ footer.styleBackground.color.green }}, {{ footer.styleBackground.color.blue }}, {{ footer.styleBackground.opacity / 100 }})
						{% else %}
							{{footer.styleBackground.color}}
						{% endif %}
					{% endif %}
					!important;"				
				{% endif %}
			>

				<div class="container">
					<!-- Footer Widgets
					============================================= -->
					<div class="footer-widgets-wrap pb-5">

						<div class="row col-mb-50">
							{% if footer.footerBuilderArea1.count() > 0 %}
								{% if footer.columnsCountArea1 is not empty%}
									<div class="col-md-{{ footer.columnsCountArea1 }}">
								{% else %}
									<div class="col">
								{% endif %}
									<div class="widget">
										{% block footerArea1 %}

										{% endblock %}
									</div>	
								</div>
							{% endif %}

							{% if footer.footerBuilderArea2.count() > 0 %}
								{% if footer.columnsCountArea2 is not empty%}
									<div class="col-md-{{ footer.columnsCountArea2 }}">
								{% else %}
									<div class="col">
								{% endif %}
									<div class="widget">
										{% block footerArea2 %}

										{% endblock %}
									</div>
								</div>
							{% endif %}

							{% if footer.footerBuilderArea3.count() > 0 %}
								{% if footer.columnsCountArea3 is not empty%}
									<div class="col-md-{{ footer.columnsCountArea3 }}">
								{% else %}
									<div class="col">
								{% endif %}
									<div class="widget">
										{% block footerArea3 %}

										{% endblock %}
									</div>
								</div>
							{% endif %}

							{% if footer.footerBuilderArea4.count() > 0 %}
								{% if footer.columnsCountArea4 is not empty%}
									<div class="col-md-{{ footer.columnsCountArea4 }}">
								{% else %}
									<div class="col">
								{% endif %}
									<div class="widget">
										{% block footerArea4 %}

										{% endblock %}
									</div>
								</div>
							{% endif %}
						</div>

					</div><!-- .footer-widgets-wrap end -->
				</div>
			</footer><!-- #footer end -->

		</div><!-- #wrapper end -->

		<!-- Go To Top
		============================================= -->
		<div id="gotoTop" class="uil uil-angle-up"></div>

		<!-- JavaScripts
		============================================= -->
		{% include '_layouts/_general/_canvas/scripts.twig' %}

		<!-- Parallax Script
		============================================= -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
		<script>!SEMICOLON.Mobile.any() && skrollr.init({forceHeight: false});</script>

	</body>
</html>