{% set textPart %}
    <div class="{{ entry.alignment }}">
        {% for heading in entry.heading.all() %}
            <div class="overflow-hidden mb-4">
                <{{ heading.headingTag }} class="display-4 color mb-0 fadeInUpSmall fast animated {{ heading.alignment }}" data-animate="fadeInUpSmall fast">{{ heading.title }}</{{ heading.headingTag }}>
            </div>
            {% if heading.subTitle%}
                <div class="{{ heading.alignment }}">
                    <div class="text-white h6 mb-4">{{ heading.subTitle }}</div>
                </div>
            {% endif %}
        {% endfor %}
        
        <div class="text-white-50 fadeInUpSmall fast animated" data-animate="fadeInUpSmall fast">
            {{ entry.richTextDefault }}
        </div>

        {% for button in entry.buttons.all() %}
            <div class="overflow-hidden mb-4">
                <a 
                    href="{{ button.linkField}}" 
                    data-animate="fadeInUpSmall faster" 
                    data-delay="300" 
                    class="btn rounded-0 btn-border color fadeInUpSmall faster animated"                
                >
                    <span class="px-4">{{ button.linkField.label }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
{% endset %}

{% set imagePart %}
    {% set image = entry.image.one() %}
    {% if image %}
        <img src="{{ image.getUrl('imageFit_1920x0') }}" alt="{{ image.alt }}" class="h-100 min-vh-50 rounded">
    {% endif %}
{% endset %}

{% if entry.layoutFeatureSection == 'textRightImageLeft' or entry.layoutFeatureSection == 'textLeftImageRight'
    or entry.layoutFeatureSection == 'textTopImageBottom' or entry.layoutFeatureSection == 'textBottomImageTop' %} 
    {% set backgroundImage = entry.backgroundImage.one() %}
{% endif %}

{% if entry.layoutFeatureSection == 'textRightImageLeft' %} 
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row justify-content-between gutter-50">
                <div class="col-md-6 order-first align-self-center">
                    {{ imagePart }}
                </div>
                <div class="col-md-6 order-last align-self-center">
                    {{ textPart }}
                </div>
            </div>
        </div>
    </div>
{% elseif  entry.layoutFeatureSection == 'textLeftImageRight'%}
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row justify-content-between gutter-50">
                <div class="col-md-6 order-last order-md-first align-self-center">
                    {{ textPart }}
                </div>
                <div class="col-md-6 order-first order-md-last align-self-center">
                    {{ imagePart }}
                </div>
            </div>
        </div>
    </div>
{% elseif  entry.layoutFeatureSection == 'textTopImageBottom'%}
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row justify-content-between gutter-50">
                <div class="col-md-12 order-last order-md-first">
                    {{ textPart }}
                </div>
                <div class="col-md-12 order-first order-md-last">
                    {{ imagePart }}
                </div>
            </div>
        </div>
    </div>
{% elseif entry.layoutFeatureSection == 'textBottomImageTop'%}
    {% if backgroundImage %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section bg-transparent my-0 my-lg-5" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row justify-content-between gutter-50">
                <div class="col-md-12 order-first">
                    {{ imagePart }}
                </div>
                <div class="col-md-12 order-last">
                    {{ textPart }}
                </div>
            </div>
        </div>
    </div>

{% elseif entry.layoutFeatureSection == 'textFrontImageBack'%}
    <div class="section parallax scroll-detect m-0 border-0" style="padding: 120px 0; background: {{ entry.backgroundColor }} !important;">
        {% set image = entry.image.one() %}
        {% if image%}
            <div class="bg-overlay-bg" style="background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #323334 150%);">
                <img src="{{ image.getUrl('imageFit_1920x0') }}" class="parallax-bg">
            </div>
        {% endif %}
        <div class="container">
            {{ textPart }}
        </div>
    </div>
{% endif %}