{% set testimonials = entry.testimonials.all() %}

<div class="section bg-transparent my-0"
    {% include 'themes/'~ design.theme.value ~'/baseSection.twig' %}
>

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12">
                {% include 'themes/'~ design.theme.value ~'/baseHeadingText.twig' %}
            </div>
            <div class="col-12">
                {% if entry.testimonialColumns is not empty %}
                    {% set colCarousel = 12 // entry.testimonialColumns.value|number_format %}
                    {% set colTable = 'row-cols-md-' ~ colCarousel %}
                {% else %}
                    {% set colCarousel = 4 %}
                    {% set colTable = 'row-cols-md-12' %}
                {% endif %}
                
                {% switch entry.testimonialGalleryView %}
                
                    {% case "carousel" %}
                        {% if testimonials|length %}
                            <div class="owl-carousel carousel-widget" data-loop="true" data-autoplay="5000" data-items-xs="1" data-items-sm="1" data-items-md="2" data-items-lg="{{ colCarousel }}" data-items-xl="{{ colCarousel }}">
                                {% for testimonial in testimonials %}
                                    <div class="p-2">
                                        <div class="card text-center shadow-sm overflow-hidden">
                                            <div class="card-body p-4">
                                                <div class="row">
                                                    <div class="col-12">
                                                        {% set image = testimonial.image.one() %}
                                                        {% if image is not empty %}
                                                            <img class="rounded-circle img-testimonal mx-auto w-auto mb-4" src="{{ image.getUrl('imageFit_0x400') }}" alt="{{ testimonial.person }} - {{ testimonial.company }}">
                                                        {% endif %}                                                        
                                                        <p class="mb-4 font-secondary fst-italic text-medium text-muted">{{ testimonial.text }}</p>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <div>
                                                            <h4 class="h6 mb-0 fw-semibold">{{ testimonial.person }}</h4>
                                                            <small class="text-muted">{{ testimonial.company }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bg-icon bi-star-fill op-02"></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %} 
                
                    {% case "table" %}                        
                        {% if testimonials|length %}
                            <div class="row row-cols-1 row-cols-md-2 {{ colTable }} g-4 align-items-stretch">
                                {% for testimonial in testimonials %}
                                    <div class="col">
                                        <div class="card shadow-sm overflow-hidden h-100 rounded-0">
                                            <div class="card-body p-4">
                                                <div class="row">
                                                    <div class="col-auto pt-2">
                                                        {% set image = testimonial.image.one() %}
                                                        {% if image is not empty %}
                                                            <img class="rounded-circle img-testimonal" src="{{ image.getUrl('imageFit_0x400') }}" alt="{{ testimonial.person }} - {{ testimonial.company }}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col">
                                                        <p class="mb-3 font-secondary fst-italic text-medium text-muted">{{ testimonial.text }}</p>
                                                        <h4 class="h6 mb-0 fw-semibold">{{ testimonial.person }}</h4>
                                                        <small class="text-muted">{{ testimonial.company }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bg-icon bi-star-fill op-02"></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}                        
                
                    {% default %}
                
                {% endswitch %}
                               
            </div>
        </div>
    </div>

</div>

    





