{% set textPart %}
    <div class="{{ entry.alignment }}">
        {% for heading in entry.heading.all() %}
            {% if heading.subTitle%}
                <div class="{{ heading.alignment }}">
                    <div class="text-uppercase ls-2 fw-bold mb-3 small text-smaller">{{ heading.subTitle }}</div>
                </div>
            {% endif %}
            <{{ heading.headingTag }} class="display-3 text-light text-uppercase ls-1 fw-bolder negative-text-margin {{ heading.alignment }}">{{ heading.title }}</{{ heading.headingTag }}>
        {% endfor %}

        <div class="lead fw-normal">
            {{ entry.richTextDefault }}
        </div>

        {% for button in entry.buttons.all() %}
            <a 
                href="{{ button.linkField}}" 
                class="button button-3d-border h-bg-color fw-semibold button-xlarge"
            >
                {{ button.linkField.label }}
            </a>
        {% endfor %}
    </div>
{% endset %}

{% set imagePart %}
    {% set image = entry.image.one() %}
    {% if image %}
        <img src="{{ image.getUrl('imageFit_1920x0') }}" alt="{{ image.alt }}" class="h-100 w-100 object-cover object-top rounded">
    {% endif %}
{% endset %}

{% if entry.layoutFeatureSection == 'textRightImageLeft' or entry.layoutFeatureSection == 'textLeftImageRight'
    or entry.layoutFeatureSection == 'textTopImageBottom' or entry.layoutFeatureSection == 'textBottomImageTop' %} 
    {% set backgroundImage = entry.backgroundImage.one() %}
{% endif %}

{% if entry.layoutFeatureSection == 'textRightImageLeft' %} 
    {% if backgroundImage %}
        <div class="section page-section dark bg-transparent m-0" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section page-section dark bg-transparent m-0" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row align-items-stretch g-4">
                <div class="col-lg-6 align-self-center">
                    {{ imagePart }}
                </div>
                <div class="col-lg-6 ps-lg-4 d-flex align-self-center flex-column align-self-center">
                    {{ textPart }}
                </div>
            </div>
        </div>
    </div>
{% elseif  entry.layoutFeatureSection == 'textLeftImageRight'%}
    {% if backgroundImage %}
        <div class="section page-section dark bg-transparent m-0" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section page-section dark bg-transparent m-0" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row align-items-stretch g-4">
                <div class="col-lg-6 ps-lg-4 d-flex align-self-center flex-column align-self-center">
                    {{ textPart }}
                </div>
                <div class="col-lg-6 align-self-center">
                    {{ imagePart }}
                </div>
            </div>
        </div>
    </div>
{% elseif  entry.layoutFeatureSection == 'textTopImageBottom'%}
    {% if backgroundImage %}
        <div class="section page-section dark bg-transparent m-0" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section page-section dark bg-transparent m-0" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row align-items-stretch g-4">
                <div class="col-md-12 order-last order-md-first">
                    {{ textPart }}
                </div>
                <div class="col-md-12 order-first order-md-last">
                    {{ imagePart }}
                </div>
            </div>
        </div>
    </div>
{% elseif entry.layoutFeatureSection == 'textBottomImageTop'%}
    {% if backgroundImage %}
        <div class="section page-section dark bg-transparent m-0" style="background: url('{{ backgroundImage.getUrl('imageFit_1920x0') }}') no-repeat; background-size: cover;">
    {% else %}
        <div class="section page-section dark bg-transparent m-0" style="background: {{ entry.backgroundColor }} !important;">
    {% endif %}
        <div class="container">
            <div class="row align-items-stretch g-4">
                <div class="col-md-12 order-first">
                    {{ imagePart }}
                </div>
                <div class="col-md-12 order-last">
                    {{ textPart }}
                </div>
            </div>
        </div>
    </div>

{% elseif entry.layoutFeatureSection == 'textFrontImageBack'%}
    <div class="section parallax scroll-detect m-0 border-0" style="padding: 120px 0; background: {{ entry.backgroundColor }} !important;">
        {% set image = entry.image.one() %}
        {% if image%}
            <div class="bg-overlay-bg" style="background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #323334 150%);">
                <img src="{{ image.getUrl('imageFit_1920x0') }}" class="parallax-bg">
            </div>
        {% endif %}
        <div class="container">
            {{ textPart }}
        </div>
    </div>
{% endif %}