<footer id="footer" class="dark">
    <div class="container">
        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row col-mb-50">
                <div class="col-lg-4 fw-light">
                    <h4 class="ls-1 fw-normal text-uppercase">Kontakt</h4>
                    <p class="mb-2">
                        {% if company.companyName %}
                            <strong>{{ company.companyName }}</strong><br>
                        {% endif %}
                        {% if company.companyName2 %}
                            {{ company.companyName2 }}<br>
                        {% endif %}
                        {% if company.street %}
                            {{ company.street }}<br>
                        {% endif %}
                        {% if company.zipCode %}{{ company.zipCode }}{% endif %} {% if company.city %}{{ company.city }}{% endif %}
                    </p>
                    <address class="mb-0">
                        {% if company.phone %}
                            <abbr title="Phone Number"><strong>Telefon:</strong></abbr>
                            <a href="tel:{{ company.phone }}">{{ company.phone }}</a> <br>
                        {% endif %}
                        {% if company.mail %}
                            <abbr title="Email Address"><strong>Email:</strong></abbr> {{ company.mail }}
                        {% endif %}
                    </address>
                </div>

                <div class="col-lg-4">
                    <h4 class="ls-1 fw-normal text-uppercase">Quicklinks</h4>
                    <div class="widget_links widget_real_estate_popular">
                        <ul>
                            {% set nodes = craft.navigation.nodes('navigationFooter').level(1).all() %}
                            {% for firstLevelNode in nodes %}
                                <li><a href="{{ firstLevelNode.url }}" target="{{ firstLevelNode.target }}">{{ firstLevelNode.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 text-md-end fw-light">
                    <h4 class="col-12 ls-1 fw-normal text-uppercase">Social Media</h4>

                    <div class="col-12 d-flex justify-content-md-end mt-4 mb-3">
                        {% if socialMedia.facebook %}
                            <a href="{{ socialMedia.facebook }}" class="social-icon si-small rounded-circle text-white bg-facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        {% endif %}
                        {% if socialMedia.instagram %}
                            <a href="{{ socialMedia.instagram }}" target="_blank" class="social-icon si-small rounded-circle text-white bg-instagram">
                                <i class="bi-instagram"></i>
                                <i class="bi-instagram"></i>
                            </a>
                        {% endif %}
                        {% if socialMedia.pinterest %}
                            <a href="{{ socialMedia.pinterest }}" target="_blank" class="social-icon si-small rounded-circle text-white bg-pinterest">
                                <i class="bi-pinterest"></i>
                                <i class="bi-pinterest"></i>
                            </a>
                        {% endif %}
                        {% if socialMedia.twitter %}
                            <a href="{{ socialMedia.twitter }}" target="_blank" class="social-icon si-small rounded-circle text-white bg-twitter">
                                <i class="bi-twitter"></i>
                                <i class="bi-twitter"></i>
                            </a>
                        {% endif %}
                        <a href="mailto:{{ company.mail }}" class="social-icon si-small rounded-circle text-white bg-google">
                            <i class="bi-envelope"></i>
                            <i class="bi-envelope"></i>
                        </a>
                    </div>

                    <div> 
                        <span class="footer-powered align-items-end">powered by <a href="https://www.ansgar.at" title="Professionelle Webseite einfach selbst erstellen">ansgar websites</a></span>
                    </div>
                </div>
            </div>

        </div><!-- .footer-widgets-wrap end -->
    </div>
</footer>